## stax.config - optional parameters specific to your environment
# stax looks for this file at "$HOME/.stax.config"
#
# For each item below, an example is provided in the comments and the
# default is shown uncommented.
#
# The namespace prefix for AWS resource tags applied to the CloudFormation
# stack and resources it creates.
# STAX_TAG_PREFIX="company"
STAX_TAG_PREFIX="stax"

# The IP address of an ssh 'jumpbox' to proxy connections to your VPC.
# STAX_JUMP="123.123.123.123"
STAX_JUMP=""

# The webhook URL to allow stax to post to the #stax channel in Slack
# see https://slack.com/services/ for setup documentation.
# STAX_SLACK_WHOOK="https://hooks.slack.com/services/..."
STAX_SLACK_WHOOK=""
