[
  { "ParameterKey": "Team",                         "ParameterValue": "<changeMe>" },
  { "ParameterKey": "Group",                        "ParameterValue": "<changeMe>" },
  { "ParameterKey": "Project",                      "ParameterValue": "<changeMe>" },
  { "ParameterKey": "Product",                      "ParameterValue": "<changeMe>" },
  { "ParameterKey": "Environment",                  "ParameterValue": "<changeMe>" },
  { "ParameterKey": "KeepAlive",                    "ParameterValue": "false" },
  { "ParameterKey": "ServiceELBSubdomainName",      "ParameterValue": "" },
  { "ParameterKey": "ServiceELBBaseDomainName",     "ParameterValue": "" },
  { "ParameterKey": "ServiceELBSSLCertName",        "ParameterValue": "" },
  { "ParameterKey": "DockerRegistryUser",           "ParameterValue": "" },
  { "ParameterKey": "DockerRegistryPass",           "ParameterValue": "" },
  { "ParameterKey": "DockerRegistryEmail",          "ParameterValue": "" },
  { "ParameterKey": "DockerRegistryUrl",            "ParameterValue": "https://index.docker.io/v1/" },
  { "ParameterKey": "ServiceClusterSize",           "ParameterValue": "0" },
  { "ParameterKey": "GatewayClusterSize",           "ParameterValue": "2" },
  { "ParameterKey": "BastionInstanceType",          "ParameterValue": "t2.micro" },
  { "ParameterKey": "NATInstanceType",              "ParameterValue": "t2.micro" },
  { "ParameterKey": "DockerInstanceType",           "ParameterValue": "m3.medium" },
  { "ParameterKey": "CoreOSChannelAMI",             "ParameterValue": "CoreOSStableAMI" },
  { "ParameterKey": "AdvertisedIPAddress",          "ParameterValue": "private" },
  { "ParameterKey": "AutoScaleCooldown",            "ParameterValue": "300" },
  { "ParameterKey": "Owner",                        "ParameterValue": "@OWNER@" },
  { "ParameterKey": "KeyName",                      "ParameterValue": "@KEY_NAME@" },
  { "ParameterKey": "AllowSSHFrom",                 "ParameterValue": "@SSH_FROM@" },
  { "ParameterKey": "AllowHTTPFrom",                "ParameterValue": "@HTTP_FROM@" }
]
