[Unit]
Description=Elasticsearch Discovery Service

# Requirements
Requires=docker.service
Requires=etcd.service
Requires=fleet.service
Wants=elasticsearch@%i.service

# Dependency ordering and binding
After=docker.service
After=etcd.service
After=fleet.service
After=elasticsearch@%i.service
BindsTo=elasticsearch@%i.service
PartOf=elasticsearch@%i.service

[Service]
TimeoutStartSec=10m
Restart=on-failure
RestartSec=5s

# Set environmental variables
EnvironmentFile=/etc/environment
Environment="ES_CLUSTER=es01"

ExecStart=/bin/bash -c '\
  while true; do \
    curl -Ls ${COREOS_PRIVATE_IPV4}:9200 > /dev/null ;\
    [ $? -eq 0 ] && curl -L http://${COREOS_PRIVATE_IPV4}:4001/v2/keys/services/logging/es/${ES_CLUSTER}/host/${COREOS_PRIVATE_IPV4}?ttl=60 -XPUT -d value=\'{"host":"%H","http_port":9200,"cluster_port":9300}\' ;\
    sleep 50 ;\
  done'

ExecStop=/usr/bin/curl -L http://${COREOS_PRIVATE_IPV4}:4001/v2/keys/services/logging/es/${ES_CLUSTER}/host/${COREOS_PRIVATE_IPV4} -XDELETE

[X-Fleet]
MachineOf=elasticsearch@%i.service